@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
input,
button,
select,
textarea {
    outline: 0;
    box-sizing: border-box
}
input:focus,
textarea:focus {
    outline: 0;
    border: .05rem solid #0083e6
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
ol,
ul,
li {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none
}
b,
strong {
    font-weight: bold
}
img {
    width: 100%;
    vertical-align: middle;
    border: 0;
    -webkit-touch-callout: none
}
:focus {
    outline: 0
}
a {
    color: #333;
    text-decoration: none
}
a.active {
    color: #06c
}
.clearfix::before,
.clearfix::after {
    display: table;
    content: " "
}
.clearfix::after {
    clear: both
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
@font-face{
    font-family:'icomoon';
    src:url('../fonts/icomoon.eot?-obae8q');
    src:url('../fonts/icomoon.eot?#iefix-obae8q') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-obae8q') format('woff'),
        url('../fonts/icomoon.ttf?-obae8q') format('truetype'),
        url('../fonts/icomoon.svg?-obae8q#icomoon') format('svg');
    font-weight:normal;
    font-style:normal
}
.icon-spin {
    display: inline-block;
    -webkit-animation: spin .3s infinite linear;
    animation: spin .3s infinite linear
}
a .icon-spin {
    display: inline-block;
    text-decoration: none
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.glyphicon {
    position: relative;
    top: .05rem;
    display: inline-block;
    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    line-height: 1
}
.loadding-icon::before {
    content: "\e60f"
}
.back-btn::before {
    content: "\e64b"
}
.goto-btn::before {
    content: "\e601"
}
.store-icon::before {
    content: "\e621"
}
.checkmark-icon::before {
    content: "\e62a"
}
.glyphicon-remove::before {
    content: "\e608"
}
.glyphicon-search::before {
    content: "\e615"
}
.glyphicon-th-list::before {
    content: "\e60d"
}
.glyphicon-user::before {
    content: "\e61b"
}
.glyphicon-shopping-cart::before {
    content: "\e605"
}
.glyphicon-plane::before {
    content: "\e60c"
}
.glyphicon-star::before {
    content: "\e619"
}
.glyphicon-arrow-up::before {
    content: "\e618"
}
.glyphicon-arrow-down::before {
    content: "\e617"
}
.glyphicon-comment::before {
    content: "\e608"
}
.glyphicon-chevron-down::before {
    content: "\e600"
}
.glyphicon-chevron-up::before {
    content: "\e622"
}
.glyphicon-chevron-left::before {
    content: "\e60d"
}
.glyphicon-chevron-right::before {
    content: "\e60c"
}
.glyphicon-minus::before {
    content: "\e624"
}
.glyphicon-plus::before {
    content: "\e623"
}
.glyphicon-ok-sign::before {
    content: "\e616"
}
.glyphicon-remove-sign::before {
    content: "\e612"
}
.glyphicon-star.cur {
    color: #ff6500!important
}
.glyphicon-down::before {
    content: "\e612"
}
.glyphicon-right::before {
    content: "\e613"
}
.glyphicon-more-icon::before {
    content: "\e60e"
}
.glyphicon-sale-icon::before {
    content: "\e614"
}
.glyphicon-viewList-icon::before {
    content: "\e61d"
}
.glyphicon-viewGallery-icon::before {
    content: "\e61c"
}
.glyphicon-filter-icon::before {
    content: "\e60b"
}
.glyphicon-filterClear-icon::before {
    content: "\e607"
}
.glyphicon-addCart-icon::before {
    content: "\e600"
}
.glyphicon-apply-icon::before {
    content: "\e61a"
}
.glyphicon-choose-icon::before {
    content: "\e616"
}
.glyphicon-reset-icon::before {
    content: "\e606"
}
.glyphicon-close-icon::before {
    content: "\e609"
}
.glyphicon-to-icon::before {
    content: "\e604"
}
.glyphicon-like-icon::before {
    content: "\e61e"
}
.glyphicon-likeing-icon::before {
    content: "\e61f"
}
.glyphicon-rubbish-icon::before {
    content: "\e628"
}
.glyphicon-lock-icon::before {
    content: "\e627"
}
.glyphicon-dollar-icon::before {
    content: "\e60a"
}
.glyphicon-gift-icon::before {
    content: "\e62b"
}
.glyphicon-pencil-icon::before {
    content: "\e62c"
}
.glyphicon-404-icon::before {
    content: "\e629"
}
.glyphicon-elm-icon::before {
    content: "\e62d"
}
.glyphicon-lights-icon::before {
    content: "\e62e"
}
.glyphicon-car-icon::before {
    content: "\e62f"
}
.glyphicon-toys-icon::before {
    content: "\e63b"
}
.glyphicon-apple-icon::before {
    content: "\e630"
}
.glyphicon-computers-icon::before {
    content: "\e631"
}
.glyphicon-tools-icon::before {
    content: "\e63a"
}
.glyphicon-games-icon::before {
    content: "\e632"
}
.glyphicon-garden-icon::before {
    content: "\e633"
}
.glyphicon-apparel-icon::before {
    content: "\e634"
}
.glyphicon-photo-icon::before {
    content: "\e635"
}
.glyphicon-sports-icon::before {
    content: "\e636"
}
.glyphicon-health-icon::before {
    content: "\e637"
}
.glyphicon-phones-icon::before {
    content: "\e638"
}
.glyphicon-laptops-icon::before {
    content: "\e639"
}
.glyphicon-others-icon::before {
    content: "\e63f"
}
.glyphicon-order-icon::before {
    content: "\e640"
}
.glyphicon-left-icon::before {
    content: "\e611"
}
.glyphicon-loginout-icon::before {
    content: "\e642"
}
.glyphicon-star-icon::before {
    content: "\e641"
}
.glyphicon-wish-icon::before {
    content: "\e644"
}
.glyphicon-pro-icon::before {
    content: "\e645"
}
.glyphicon-price-icon::before {
    content: "\e646"
}
.glyphicon-sales-icon::before {
    content: "\e647"
}
.glyphicon-help-icon::before {
    content: "\e648"
}
.glyphicon-helpful-icon::before {
    content: "\e649"
}
.glyphicon-unhelpful-icon::before {
    content: "\e64a"
}
.glyphicon-message-icon::before {
    content: "\e625"
}
.glyphicon-home::before {
    content: "\e900"
}
/*
html {
    font-size: 20px
}
@media only screen and (min-width: 360px) {
    html {
        font-size: 22.5px!important
    }
}
@media only screen and (min-width: 375px) {
    html {
        font-size: 23.5px!important
    }
}
@media only screen and (min-width: 401px) {
    html {
        font-size: 25px!important
    }
}
@media only screen and (min-width: 414px) {
    html {
        font-size: 25.8px!important
    }
}
@media only screen and (min-width: 428px) {
    html {
        font-size: 26.75px!important
    }
}
@media only screen and (min-width: 481px) {
    html {
        font-size: 30px!important
    }
}
@media only screen and (min-width: 569px) {
    html {
        font-size: 35px!important
    }
}
@media only screen and (min-width: 640px) {
    html {
        font-size: 40px!important
    }
}
*/

body {
    font-size: .6rem;
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    min-width: 320px;
    margin: 0 auto;
    position: relative
}
button,
input,
textarea {
    outline: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    border-radius: 0;
}
input:focus,
textarea:focus {
    outline: 0;
    border: .05rem solid #f60
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.text-right {
    text-align: right
}
.vm {
    vertical-align: middle
}
.block {
    display: block!important
}
.bold {
    font-weight: bold
}
.red {
    color: #f80000
}
.org {
    color: #f60
}
.gray-c {
    color: #ccc!important
}
.gray9 {
    color: #999!important
}
.gray6 {
    color: #666!important
}
.black {
    color: #1b1f2a!important
}
.green {
    color: #06bf04
}
.blue {
    color: #00a0f8
}
.btn {
    background-color: #fff;
    border: .05rem solid #e5e5e5;
    border-radius: .15rem;
    text-align: center;
    color: #999;
}
.btn.btn-blue {
    color: #fff;
    background-color: #00a0f8;
    border-color: #00a0f8
}
.btn.btn-gray-dark {
    color: #333;
    background-color: #999;
    border-color: #999
}
.btn.btn-green {
    color: #fff;
    background-color: #06bf04;
    border-color: #03b401
}
.btn.btn-green.nobg {
    color: #06bf04;
    background-color: transparent;
}
.btn.btn-red {
    color: #fff;
    background-color: #ed5050;
    border-color: #b93232
}
.btn.btn-pink {
    color: #fff;
    background-color: #ee614b;
    border-color: #ee614b
}
.btn.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #e5e5e5
}
.btn.btn-yellow {
    color: #fff;
    background-color: #f09000;
    border-color: #f09000
}
.btn.btn-orange {
    color: #fff;
    border-color: #f60;
    background-color: #f60
}
.btn.btn-orange.nobg {
    color: #f60;
    background-color: transparent;
}
.btn.btn-orange-dark {
    color: #fff;
    border-color: #f15a0c;
    background-color: #f15a0c
}
.hide {
    display: none!important
}
.mt5 {
    margin-top: .25rem;
}
.mb5 {
    margin-bottom: .25rem;
}
.mtb10 {
    margin: .5rem 0;
}
.mt10 {
    margin-top: .5rem;
}
.mb10 {
    margin-bottom: .5rem;
}
.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 10;
    border-top: .05rem solid #CCC;
    display: none
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex,
.flex *,
.flex::after,
.flex::before {
    box-sizing: border-box;
}
.flex > .cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    position: relative;
}
.flex.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.flex.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.flex.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.flex.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.panel {
    position: relative;
    background: #fff;
    line-height: 1rem;
    font-size: .7rem;
}
.border-bottom {
    border-bottom: .05rem solid #eee;
}
.border-top-bottom {
    border-top: .05rem solid #eee;
    border-bottom: .05rem solid #eee;
}
hr {
    height: 0;
    margin: 0;
    border: 0 none;
    border-top: .05rem solid #e5e5e5;
}
.mark-wrap {
    border: 0 none;
    background: none;
}
.mark-wrap > span {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    color: #c9c9c9;
}
.mark-wrap > span::before {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: .05rem solid #ccc;
    border-radius: 50%;
    content: ' ';
    text-align: center;
    line-height: 1rem;
    font-size: .6rem;
}
.mark-wrap > span.checkmark::before {
    content: '\e616';
    font-family: 'icomoon';
    color: #fff;
    border: .05rem solid #4cd964;
    background: #4cd964;
}
.mark-wrap.blue > span.checkmark::before {
    border-color: #007aff;
    background: #007aff;
}
.mark-wrap > span.deletemark::before {
    content: '\e624';
    font-family: 'icomoon';
    color: #ff463c;
    line-height: .95rem;
    border: .05rem solid #ff463c;
}
.mark-wrap > span.editmark::before {
    content: 'i';
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.1rem;
    font-family: serif;
    font-size: .9rem;
    color: #007aff;
    border: .05rem solid #007aff;
}

.number-range {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.number-range > button,
.number-range > input {
    width: 2.1rem;
    height: 2.05rem;
    color: #666;
    text-align: center;
    background: #fff;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
    margin-top: -.1rem;
}
.number-range > input {
    width: 1.75rem;
    height: 1.35rem;
    font-size: .7rem;
    border-top: .05rem solid #999;
    border-bottom: .05rem solid #999;
}
.number-range > input:disabled {
    -webkit-appearance: none;
    opacity: 1;
    border-color: #999;
}
.number-range > button > span {
    display: inline-block;
    border: .05rem solid #999;
    width: 1.75rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .4rem;
}
.number-range > button:first-child > span {
    float: right;
    border-radius: .1rem 0 0 .1rem;
}
.number-range > button:last-child > span {
    float: left;
    border-radius: 0 .1rem .1rem 0;
}
.number-range > button:disabled > span {
    color: #ddd;
}
.number-range.small {
    display: block;
    margin-right: -.25rem;
    text-align: right;
}
.number-range.small > button {
    width: 1.5rem;
    height: 1.5rem;
}
.number-range.small > button > span {
    width: 1.25rem;
    height: 1.1rem;
    line-height: 1rem;
    background: #f2f2f2;
    border-color: #eee;
}
.number-range.small > input {
    width: 1.25rem;
    height: 1.1rem;
    border-color: #eee;
}

.btn-login {
    padding: .5rem;
    height: 2rem;
    line-height: 2rem;
    color: #333;
}
.btn-login > button {
    margin-top: .2rem;
    padding: .4rem .5rem;
    line-height: .7rem;
    font-size: .6rem;
}

.waiting {
    padding: .5rem .75rem;
    border-bottom: .05rem solid #ffe6c7;
    background-color: #fcf8e3;
    font-size: .6rem;
    line-height: .7rem;
}

.empty {
    padding: 3rem .5rem 1.5rem;
    text-align: center;
    font-size: .7rem;
}
.empty > h6 {
    font-size: .8rem;
}
.empty > p {
    margin-bottom: 1rem;
    font-size: .6rem;
}
.empty > a {
    display: inline-block;
    margin-bottom: 1rem;
    padding: .4rem 1.5rem;
    line-height: .9rem;
}

.pop-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1000;
    overflow: hidden;
}
.pop-box-close {
    position: absolute;
    top: .1rem;
    right: .1rem;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 100;
    color: #ccc;
}
.pop-box-header {
    padding: 1rem 0;
    text-align: center;
    font-size: .8rem;
    line-height: .8rem;
    color: #333;
}

.top-bar {
    height: 1.75rem;
    line-height: 1.2rem;
    position: relative;
    background-color: #21282e;
    color: #999;
    overflow: hidden;
}
.top-bar a {
    display: inline-block;
    height: 1.2rem;
    padding: .25rem .2rem .3rem;
    vertical-align: top;
    color: #999;
    font-size: .7rem;
}
.top-bar > .top-bar-index {
    width: 8rem;
    padding-left: .5rem;
}
.top-bar > .top-bar-index > img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    margin-right: .3rem;
    margin-top: -.1rem;
}
.top-bar .top-bar-search {
    font-size: .8rem;
}

.custom-line {
    overflow: hidden;
}
.custom-line > hr {
    border: 0 none;
    border-top: .05rem dashed #bbb;
    margin: .75rem 0;
    padding: 0;
    height: 0;
    width: 100%;
}
.custom-store {
    line-height: 1rem;
    background: #fff;
    border-top: .05rem solid #eee;
}
.custom-store > a {
    display: inline-block;
    width: 15rem;
    padding: .5rem;
    color: #666;
    font-size: .7rem;
    border-bottom: .05rem solid #eee;
}
.custom-store > a > span:first-child {
    margin-right: .4rem;
}
.custom-store > a > span.pull-right {
    font-size: .6rem;
    color: #999;
}
.custom-store > a > span > span {
    margin-left: .2rem;
}
.panel > .custom-store > a {
    padding: .5rem .5rem .5rem 0;
    margin-left: .5rem;
}

.custom-search {
    height: 1.75rem;
    margin: .5rem;
    position: relative;
    border: .05rem solid #c0c0c0;
    background: #fff;
    border-radius: .2rem;
    overflow: hidden;    
}
.custom-search > button {
    position: absolute;
    top: 0;
    left: 0;
    border: 0 none;
    width: 1.85rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    padding: 0;
    color: #999;
    font-size: .8rem;
    border-radius: .25rem 0 0 .25rem;
    background-color: transparent;
}
.custom-search > button > span {
    top: .1rem;
}
.custom-search > input {
  margin: 0;
  padding: 0 1.8rem 0 2rem;
  border-radius: 0;
  height: 1.75rem;
  width: 100%;
  border: 0 none;
  font-size: .7rem;
}
.custom-search > a {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8rem;
    padding: .45rem .5rem;
    z-index: 1;
    color: #ccc;
}
.custom-title {
    box-sizing: border-box;
    padding: .5rem;
    margin-bottom: .5rem;
    border-bottom: .05rem solid #eee;
    overflow: hidden;
    word-break: break-all;
}
.custom-title > h2 {
    margin: 0;
    font-size: .9rem;
    font-weight: 600;
    color: #333;
    line-height: 1.2rem;
}
.custom-title > h2 > span {
    margin-left: .5rem;
    font-weight: normal;
}
.custom-title > h2 > span > a {
    font-size: .6rem;
    color: #07d;
}
.custom-title > p {
    margin-top: .25rem;
    font-size: .6rem;
    color: #8c8c8c;
}
.custom-title > p > span {
    margin-right: .5rem;
}
.custom-title > p > a {
    color: #6191bf;
}
.custom-title.wx-tpl > p {
    margin-top: .15rem;
    line-height: 1.6;
    font-weight: 400;
}
.custom-title.wx-tpl > p > a {
    color: #607fa6;
}
.custom-notice {
    height: 1.85rem;
    line-height: 1.85rem;
    padding: 0 .5rem;
    font-size: .6rem;
    color: #f90;
    word-break: break-all;
    background: #ffc;
    border-top: .05rem solid #f2f2f2;
    border-bottom: .05rem solid #f2f2f2;
}
.custom-notice > span {
    display: inline-block;
    width: 2rem;
    vertical-align: top;
}
.custom-notice > p {
    display: inline-block;
    position: relative;
    width: 13rem;
    overflow: hidden;
}
.custom-coupon {
    padding: .5rem;
    text-align: center;
}
.custom-coupon > li {
    width: 4.7rem!important;
    height: 3.35rem;
    margin-left: .3rem;
    border: .05rem solid #ff93b2;
    border-radius: .2rem;
    background: #ffeaec;
}
.custom-coupon > li > a {
    display: block;
}
.custom-coupon > li:first-child {
    margin-left: 0;
}
.custom-coupon > li:first-child > a {
    color: #fa5262;
}
.custom-coupon > li:first-child + li {
    background: #f3ffef;
    border-color: #98e27f;
}
.custom-coupon > li:first-child + li > a {
    color: #7acf8d;
}
.custom-coupon > li:first-child + li + li {
    background: #ffeae3;
    border-color: #ffa492;
}
.custom-coupon > li:first-child + li + li > a {
    color: #ff9664;
}
.custom-coupon > li span {
    box-sizing: content-box;
    display: block;
    font-size: .6rem;
    height: 1rem;
    line-height: 1rem;
    padding-top: .2rem;
    overflow: hidden;
}
.custom-coupon > li span:first-child {
    height: 1.2rem;
    line-height: 1.2rem;
    padding-top: .6rem;
    font-size: 1.2rem;
}
.custom-coupon > li span > i {
    font-size: .8rem;
    font-style: normal;
}
.custom-image {
    position: relative;
}
.custom-image.images-large > li {
    width: 100%;
    box-sizing: border-box;
    padding: .25rem .25rem 0;
}
.custom-image.images-small {
    padding-right: .25rem;
}
.custom-image.images-small > li {
    padding: .25rem 0 0 .25rem;
}
.custom-image.images-small > li > a:first-child {
    margin-right: .25rem;
}
.custom-nav-text > li,
.custom-link > li {
    margin-left: .5rem;
    padding: .75rem .75rem .75rem 0;
}
.custom-nav-text > li:not(:last-child),
.custom-link > li:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.custom-nav-text > li > a,
.custom-link > li > a {
    display: block;
    height: .7rem;
    color: #333;
    font-size: .7rem;
    font-weight: 700;
}
.custom-nav-text > li > a > strong,
.custom-link > li > a > strong {
    display: inline-block;
    width: 14rem;
}
.custom-nav-text > li > a > span,
.custom-link > li > a > span {
    float: right;
}
.custom-nav-images {
    padding: .25rem;
    text-align: center;
}
.custom-nav-images > li:not(:last-child) {
    padding-right: .25rem;
}
.custom-nav-images > li a {
    display: block;
    color: #333;
    overflow: hidden;
}
.custom-nav-images > li span {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .6rem;
    overflow: hidden;
}
.custom-showcase > h4 {
    padding: .5rem;
    font-size: .7rem;
    font-weight: normal;
}
.custom-showcase > div {
    text-align: center;
    font-size: .7rem;
    padding: 0 .5rem;
    color: #333;
    box-sizing: border-box;
}
.custom-showcase > div > h5 {
    font-weight: 700;
    margin: .5rem 0;
}
.custom-showcase > div > p {
    padding-bottom: .5rem;
    font-size: .6rem;
    line-height: 1.5;
    word-break: break-all;
}
.custom-showcase.images-two-cell > ul {
    width: 16rem;
    height: 10.6rem;
    overflow: hidden;
}
.custom-showcase.images-two-cell > ul > li {
    height: 100%;
}
.custom-showcase.images-two-cell > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}
.custom-showcase.images-two-cell > ul > li:first-child > a {
    text-align: center;
}
.custom-showcase.images-two-cell > ul > li:last-child > a {
    height: 50%;
}
.custom-showcase.images-two-cell > ul > li:last-child > a:first-child {
    margin-bottom: .05rem;
}
.custom-showcase.images-two-cell > ul > li > a > img {
    width: auto;
    height: auto;
    max-width: 100%;
}
.custom-showcase.images-two-cell > ul > li:first-child {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-right: .05rem;
}
.custom-showcase.images-three-cell > ul > li:first-child + li {
    margin: 0 .05rem;
}

.custom-tags > .tabs {
    background: #fff;
    border-top: .05rem solid #eee;
    font-size: .7rem;
}
.custom-tags > .tabs > a {
    display: block;
    height: 2rem;
    line-height: 2rem;
    border-bottom: .05rem solid #eee;
    outline: 0 none;
    position: relative;
    text-align: center;
}
.custom-tags > .tabs > .active {
    color: #ed5050;
    border-bottom: .05rem solid #ed5050;
}

.custom-tags.page-top > .tabs {
    margin-bottom: .05rem;
    border-top: 0 none;
}
.custom-tags.page-top > .tabs > .active {
    border-bottom-width: .1rem;
}

.custom-wares {
    position: relative;
    padding: .25rem;
    font-size: .6rem;
}
.custom-wares > dt,
.custom-wares > dd {
    margin-top: .4rem;
}
.custom-wares > .wares-item-wrap {
    position: relative;
    padding: 0 .25rem;
}
.custom-wares.card > dt.wares-item-wrap {
    height: auto;
}
.custom-wares.detailed.card > dt.wares-item-wrap {
    width: 14.7rem;
}
.custom-wares > .wares-item-wrap > .wares-link {
    color: #07d;
    display: block;
    overflow: hidden;
}
.custom-wares .wares-image {
    min-height: 5rem;
}
.custom-wares .wares-item-info {
    background-color: #f9f9f9;
    margin: .25rem 0;
    font-size: .7rem;
}
.custom-wares .wares-item-info > .title {
    float: left;
    line-height: 1.1rem;
    color: #333;
    padding-left: 0;
    max-width: 11rem;
}
.custom-wares .wares-item-info > .price {
    color: #f60;
    float: right;
    display: inline-block;
    max-width: 3.5rem;
    overflow: hidden;
    line-height: 1.1rem;
    height: 1.1rem;
    padding: 0 .25rem;
    font-weight: bold;
}
.custom-wares .wares-item-info.inside {
    position: absolute;
    height: 1.1rem;
    bottom: .25rem;
    left: .5rem;
    right: .5rem;
    margin: 0;
    font-size: .6rem;
    white-space: nowrap;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    border-radius: .1rem;
}
.custom-wares > dd.wares-item-wrap .wares-item-info.inside {
    left: auto;
}

.custom-wares .wares-item-info.inside > .title {
    padding-left: .5rem;
    color: #fff;
}
.custom-wares .wares-item-info.inside > .price {
    color: #fff;
}

.custom-wares.card > .wares-item-wrap > .wares-link {
    border: .05rem solid #e5e5e5;
    background: #fff;
}
.custom-wares > dd.wares-item-wrap > .wares-link:first-child {
    margin-right: .4rem;
}
.custom-wares.card .wares-image {
    margin: .2rem;
}
.custom-wares.card > dd.wares-item-wrap .wares-image {
    margin: 0;
}
.custom-wares.card .wares-item-info {
    margin: .5rem .4rem 0;
    background: none;
    min-height: 1.7rem;
}
.custom-wares.card .wares-item-info > .title {
    max-width: 13rem;
    font-weight: bold;
    margin-bottom: .25rem;
    float: none;
}
.custom-wares.card .wares-item-info > .text {
    line-height: 1.3;
    color: #333;
}
.custom-wares.card .wares-item-info > .price {
    padding: 0;
    margin: .1rem 0 .3rem;
    float: none;
}
.custom-wares.detailed > .wares-item-wrap {
    margin: 0 .25rem;
    padding: .5rem 0;
    border-bottom: .05rem solid #eee;
}
.custom-wares.detailed .wares-image {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: .65rem;
    float: left;
}
.custom-wares.detailed .wares-item-info > .title {
    font-size: .7rem;
    max-height: 2.6rem;
    margin-bottom: .6rem;
    padding-top: .1rem;
    line-height: 1.3;
    max-width: none;
    overflow: visible;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: normal;
    float: none;
}
.custom-wares.detailed .wares-item-info > .price {
    font-size: .75rem;
    padding: 0;
    margin: 0 0 .4rem;
    float: none;
}
.custom-wares.card.detailed > .wares-item-wrap {
    margin: .4rem;
    padding: 0;
    border-bottom: 0 none;
}
.custom-wares.card.detailed .wares-image {
    margin: .25rem;
    margin-right: .65rem;
}

.shop-header-bg {
    position: relative;
    height: 5rem;
    background: #ef483f no-repeat top;
    background-size: cover;
}
.shop-title {
    position: absolute;
    bottom: .5rem;
    left: 5rem;
    font-size: .8rem;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.shop-avatar {
    position: absolute;
    left: .5rem;
    bottom: -2rem;
    width: 4rem;
    height: 4rem;
}
.shop-avatar > img {
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    border-radius: .15rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
.shop-items-info {
    padding: .35rem 0 .45rem 5rem;
    border: .05rem solid #e4e4e4;
    background: #fff;
}
.shop-items-info > li {
    margin-top: .5rem;
    margin-bottom: .3rem;
}
.shop-items-info > li:not(:last-child) {
    border-right: .05rem solid #e4e4e4;
}
.shop-items-info > li > a {
    display: block;
    margin-top: -0.6rem;
    margin-bottom: -0.4rem;
}
.shop-items-info > li > a span {
    display: block;
    font-size: .6rem;
    text-align: center;
    color: #999;
}
.shop-items-info > li > a .count {
    height: 1.05rem;
    line-height: 1.05rem;
    font-size: .9rem;
    color: #333;
    overflow: hidden;
}
.shop-info-noCount {
    margin-bottom: 1.5rem;
}
.shop-info-noCount .shop-title {
    bottom: .4rem;
    left: 4.75rem;
    font-size: .9rem;
}
.shop-info-noCount .shop-avatar {
    bottom: -1rem;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #fff;
    padding: .15rem;
    border-radius: 50%;
    overflow: hidden;
}
.shop-info-noCount .shop-avatar > img {
    border-radius: 50%;
    background-color: #eee;
    box-shadow: none;
}
.shop-info-large .shop-header-bg {
    height: 12rem;
}
.shop-info-large .shop-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: inline-block;
    border: .1rem solid #fff;
    background: #fff;
    width: 4.5rem;
    height: 4.5rem;
    vertical-align: bottom;
    border-radius: 50%;
}
.shop-info-large .shop-avatar > img {
    border-radius: 50%;
    background-color: #eee;
    box-shadow: none;
}
.shop-info-large .shop-title {
    position: absolute;
    top: 8.75rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    font-weight: 800;
}

#menu {
    bottom: 0;
    height: 2.25rem;
    border-top-color: #e5e5e5;
    background: #fafafa;
}
#menu > dl > dt {
    width: 3rem;
    border-right: .05rem solid #e5e5e5;
}
#menu > dl > dd:not(:last-child) {
    border-right: .05rem solid #e5e5e5;
}
#menu dt > a,
#menu dd > a {
    display: block;
    width: 100%;
    height: 2.25rem;
    line-height: 2.25rem;
    color: #333;
    font-size: .7rem;
    text-shadow: 0 0 2px #f5f5f5;
    text-align: center;
}
#menu dt > a {
    font-size: 1.2rem;
    font-weight: bold;
}
#menu dd > a > span {
    margin-right: .25rem;
    color: #999;
}

.buy-bar {
    bottom: 0;
    height: 1.5rem;
    padding: .3rem 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-top-color: #ccc;
    background:#fff;
}
.buy-bar > .buy-options {
    padding: 0 .35rem;
}
.buy-bar > .buy-options > a {
    font-size: .7rem;
    line-height: 1.5rem;
}
.buy-bar > .buy-options > a:not(:last-child) {
    margin-right: .3rem;
}

.buy-box > ul > li:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.buy-box .buy-item-detail {
    padding: .5rem 2rem .5rem .5rem;
}
.buy-box .buy-item-detail > div {
    display: inline-block;
    vertical-align: top;
    margin-right: .25rem;
}
.buy-box .buy-item-detail > div > img {
    width: 2rem;
    height: 2rem;
}
.buy-box .buy-item-detail > div > h6 {
    width: 9rem;
}
.buy-box .buy-item-detail > div > p {
    padding-top: .2rem;
    font-size: .7rem;
    color: #f60;
}
.buy-box .buy-item-detail > div > p > span {
    font-size: .9rem;
    margin: 0 .5rem 0 .2rem;
}
.buy-box .buy-item-detail > div > p > del {
    color: #999;
}

.buy-box .buy-item-option > dl {
    padding: .5rem .5rem .2rem;
}
.buy-box .buy-item-option > dl > dt {
    font-size: .65rem;
    padding-bottom: .25rem;
}
.buy-box .buy-item-option > dl > dd > input {
    display: none;
}
.buy-box .buy-item-option > dl > dd > label {
    display: inline-block;
    min-width: 1.6rem;
    max-width: 15rem;
    padding: .3rem .45rem;
    margin-right: .35rem;
    margin-bottom: .5rem;
    line-height: .8rem;
    border: .05rem solid #999;
    border-radius: .15rem;
    text-align: center;
    overflow: hidden;
}
.buy-box .buy-item-option > dl > dd > label.active {
    color: #f60;
    border-color: #f60;
    position: relative;
}

.buy-box .buy-item-number {
    padding: .5rem;
    padding-right: .25rem;
    font-size: .65rem;
    text-align: right;
}
.buy-box .buy-item-number > dl {
    height: 2.1rem;
    line-height: 2.1rem;
}
.buy-box .buy-item-number > dl > dd {
    height: 2.1rem;
    display: inline-block;
}
.buy-box .buy-item-number > dl > dd > span {
    font-size: .6rem;
}

.buy-box .buy-item-btn {
    padding: .5rem;
}
.buy-box .buy-item-btn > button {
    width: 15rem;
    padding: .55rem .5rem;
    font-size: .8rem;
    line-height: .8rem;
    border-radius: .2rem;
}


.login-box {
    width: 13.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: .2rem;
    padding: .75rem;
    background: #fff;
    overflow: hidden;
}
.login-box > .login-header {
    margin-bottom: .5rem;
    padding-bottom: .8rem;
    border-bottom: .05rem solid #eee;
    text-align: center;
    line-height: .8rem;
    font-size: .8rem;
}
.login-box > .login-body > ul > li {
    position: relative;
}
.login-box > .login-body > ul > li > label {
    display: block;
    width: 13rem;
    height: 1.5rem;
    position: absolute;
    top: .5rem;
    left: 0;
    z-index: 1;
    padding: .7rem 0 0 .5rem;
    font-size: .7rem;
}
.login-box > .login-body > ul > li > label.focus {
    width: 3rem;
}
.login-box > .login-body > ul > li > input {
    position: relative;
    width: 13.5rem;
    height: 2.2rem;
    line-height: .9rem;
    font-size: .7rem;
    margin-top: .5rem;
    padding: .6rem .5rem .6rem 3.4rem;
    border: .05rem solid #ddd;
    border-radius: .25rem;
}
.login-box > .login-body > ul > li.code > input {
    width: 9rem;
}
.login-box > .login-body > ul > li.code > label {
    width: 8.5rem;
}
.login-box > .login-body > ul > li > input:disabled {
    background: #f8f8f8;
}
.login-box > .login-body > ul > li > button {
    position: absolute;
    right: 0;
    top: .5rem;
    height: 2.2rem;
    width: 4rem;
    padding: .5rem .2rem;
    border-radius: .25rem;
}

.login-box > .login-footer > button {
    width: 13.5rem;
    height: 2rem;
    margin-top: .5rem;
    line-height: 2rem;
    font-size: .7rem;
}
.login-box > .login-footer > p {
    padding: .8rem 0 .1rem;
    line-height: .6rem;
}
.login-box > .login-footer > p > span > a > span {
    display: inline-block;
    padding-right: .5rem;
    margin-right: .5rem;
    border-right: .05rem solid #e5e5e5;
}

.add-address-box > .add-address-body {
    padding: 0 .5rem;
    border-top: .05rem solid #eee;
    border-bottom: .05rem solid #eee;
}
.add-address-box > .add-address-body > li {
    position: relative;
    height: 1.5rem;
    padding: .5rem 0;
    line-height: 1.5rem;
    font-size: 0;
    overflow: hidden;
}
.add-address-box > .add-address-body > li.flex {
    box-sizing: content-box;
}
.add-address-box > .add-address-body > li:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.add-address-box > .add-address-body > li > label {
    display: inline-block;
    width: 3rem;
    font-size: .7rem;
    text-align: right;
    margin-right: .5rem;
}
.add-address-box > .add-address-body > li > input {
    width: 11.5rem;
    border: 0 none;
    padding: .3rem .25rem;
    font-size: .7rem;
}
.add-address-box > .add-address-body > li > span > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    height: 1.5rem;
    border: 0 none;
    line-height: 1.5rem;
    font-size: .7rem;
    background-color: transparent;
}
.add-address-box > .add-address-body > li > span {
    width: 11.5rem;
}
.add-address-box > .add-address-footer {
    padding: 1rem .5rem;
}
.add-address-box > .add-address-footer > button {
    width: 15rem;
    height: 2rem;
    padding: .55rem .5rem;
    line-height: .8rem;
    font-size: .8rem;
    border-radius: .2rem;
}

.selection-list {
    max-height: 14.5rem;
    overflow-y: auto;
    border-top: .05rem solid #eee;
    border-bottom: .05rem solid #eee;
}
.selection-list > li {
    padding: .5rem 0;
    font-size: .7rem;
}
.selection-list > li:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.selection-list > li > button {
    width: 2rem;
    height: 2rem;
    padding: .5rem;
}
.selection-list > li > .edit {
    width: 2.95rem;
    height: 2.25rem;
    padding: .5rem .85rem;
}
.selection-list > li > div {
    width: 11rem;
    line-height: .8rem;
    color: #999;
}
.selection-list > li > div > p {
    line-height: 1;
    color: #333;
}
.selection-list > li > div > span {
    padding-right: .5rem;
}
.choose-address > .choose-address-body > div > button {
    width: 16rem;
    height: 2.6rem;
    padding: .75rem .5rem;
    line-height: 1.1rem;
    background: #fff;
    border: 0 none;
    text-align: left;
    font-size: .7rem;
    color: #333;
}
.choose-address > .choose-address-body > div > button > .btn-add {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .4rem;
    vertical-align: top;
    background: #fff;
    border: .05rem solid #007aff;
    border-radius: 50%;
    text-align: center;
    font-size: .5rem;
}
.choose-address > .choose-address-body > div > button > .btn-add > span {
    color: #007aff;
}

.coupon-code {
    background: #f9f9f9;
}
.coupon-code > .coupon-code-body > div {
    height: 2.25rem;
    padding: .2rem 0;
    margin: .5rem 0;
    background: #fff;
    font-size: .6rem;
}
.coupon-code > .coupon-code-body > div > input,
.coupon-code > .coupon-code-body > div > button {
    height: 1.75rem;
    border: 0 none;
    background: #fff;
}
.coupon-code > .coupon-code-body > div > input {
    padding-left: 2rem;
}
.coupon-code > .coupon-code-body > div > button {
    width: 4rem;
    border-left: .05rem solid #eee;
}
.coupon-code > .coupon-code-body > .selection-list {
    max-height: 12rem;
    background: #fff;
}
.coupon-code > .coupon-code-body > .selection-list > li {
    margin: 0 .5rem;
}
.coupon-code > .coupon-code-body > .selection-list > li > button {
    width: 1.5rem;
    padding-left: 0;
}
.coupon-code > .coupon-code-body > .selection-list > li > div {
    font-size: .6rem;
    line-height: 1.1rem;
    color: #333;
}
.coupon-code > .coupon-code-body > .selection-list > li > div > p {
    line-height: 1.1rem;
    color: #c9c9c9;
}
.coupon-code > .coupon-code-footer > div {
    padding: .5rem;
}
.coupon-code > .coupon-code-footer > div > button {
    width: 15rem;
    height: 2rem;
    padding: .55rem .5rem;
    line-height: .8rem;
    font-size: .8rem;
    border-radius: .2rem;
}

.item-info-header {
    position: relative;
    padding: .4rem 0 .2rem;
    margin: 0 .5rem;
}
.item-info-header > h2 {
    font-size: .8rem;
    line-height: 1.1rem;
    color: #333;
}
.item-info-header > p {
    padding-top: .2rem;
    font-size: .7rem;
    color: #f60;
}
.item-info-header > p > span {
    font-size: 1rem;
    margin: 0 .5rem 0 .2rem;
}
.item-info-header > p > del {
    color: #999;
}
.item-info-header > p > button {
    float: right;
    height: 1.3rem;
    padding: 0 .4rem .1rem;
    margin-top: -0.2rem;
    font-size: .6rem;
    background: #fff;
    border: .05rem solid #f30;
    border-radius: .15rem;
    color: #f30;
}
.item-info-header > p > button > span {
    font-size: .7rem;
    top: .1rem;
    margin-right: .2rem;
}
.item-info-header > p > button.like {
    background: #f30;
    color: #fff;
}

.item-discount {
    padding: .25rem 0;
    margin: 0 .5rem;
    line-height: 1.25rem;
    font-size: .6rem;
}
.item-discount > div > span {
    padding: .15rem .6rem;
    vertical-align: top;
    margin-right: .4rem;
    border-radius: .1rem;
    border: 0 none;
    background-color: #F30;
    color: #fff;
}
.item-discount > p {
    color: #666;
}
.item-discount > span {
    margin-left: .5rem;
    color: #999;
}

.item-info-option {
    padding: 0 .5rem;
    color: #333;
    overflow: hidden;
}
.item-info-option > li {
    height: 1rem;
    line-height: 1rem;
    margin: .4rem 0;
}
.item-info-option > li > span {
    display: inline-block;
    min-width: 5em;
    text-align: right;
    color: #999;
}

.item-info-advantage > a {
    display: inline-block;
    padding: .5rem;
    padding-right: .1rem;
    font-size: .6rem;
    color: #666;
}
.item-info-advantage > a > span {
    top: .15rem; 
    margin-right: .2rem;
    font-size: .8rem;
    color: #06bf04;
}

.evaluation {
    font-size: .7rem;
    background: #fff;
}
.evaluation > .evaluation-tabs {
    padding: .5rem 1rem;
    background: #f2f2f2;
}
.evaluation > .evaluation-tabs > span {
    text-align: center;
}
.evaluation > .evaluation-tabs > span > button {
    width: 3rem;
    height: 1rem;
    padding: 0;
    line-height: 1rem;
    background-color: transparent;
    border: 0 none;
    font-size: .6rem;
    color: #666;
}
.evaluation > .evaluation-tabs > span > button.active {
    background-color: #f60;
    color: #fff;
    border-radius: .1rem;
}

.sales-volume {
    background: #fff;
}
.sales-volume > dt,
.sales-volume > dd {
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    border-bottom: .05rem solid #eee;
}
.sales-volume > dt {
    width: 16rem;
    padding: 0 .5rem;
    background: #f2f2f2;
}
.sales-volume > dd {
    width: 15rem;
    margin: 0 .5rem;
}
.sales-volume > dd:last-child {
    border-bottom: 0 none;
}
.evaluation > .sales-volume {
    padding: .5rem 0;
    margin: 0 .5rem;
}
.evaluation > .sales-volume > p {
    width: 13.7rem;
    padding: 0 0 .5rem .3rem;
    margin: 0 auto;
    font-size: .6rem;
    color: #333;
}
.evaluation > .sales-volume > div {
    width: 14rem;
    margin: 0 auto;
    font-size: 0;
}
.evaluation > .sales-volume > div > img {
    width: 1.4rem;
    height: 1.4rem;
    margin: .25rem 0 .25rem .3rem;
    border-radius: 50%;
}
.evaluation-lists > dl {
    margin: 0 .5rem;
    padding: .5rem 0;
}
.evaluation-lists > dl:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.evaluation-lists > dl > dt {
    margin: .25rem 0;
}
.evaluation-lists > dl > dt > div {
    display: inline-block;
    vertical-align: top;
}
.evaluation-lists > dl > dt > div > img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: 50%;
}
.evaluation-lists > dl > dt > div > h6 {
    margin-top: .1rem;
    font-size: .7rem;
    line-height: .9rem;
    color: #333;
}
.evaluation-lists > dl > dt > div > p {
    margin-top: .1rem;
    font-size: .6rem;
    line-height: .8rem;
    color: #999;
}
.evaluation-lists > dl > dd.text {
    line-height: 1.1rem;
    color: #666;
}
.evaluation-lists > dl > dd.imgs > a {
    width: 4.8rem;
    height: 4.8rem;
    margin: .3rem 0 0;
}
.evaluation-lists > dl > dd.imgs > a:nth-of-type(3n - 1) {
    margin: .3rem .3rem 0;
}
.evaluation-lists > dl > dd.imgs > a > img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.evaluation-lists > dl > dd.bar {
    margin-top: .3rem;
}
.evaluation-lists > dl > dd.bar > div {
    display: inline-block;
    height: 1.4rem;
    line-height: 1.8rem;
    color: #ccc;
}
.evaluation-lists > dl > dd.bar > div > button {
    height: 1.4rem;
    padding: .3rem .5rem 0;
    background-color: transparent;
    border: 0 none;
    color: #ccc;
}
.evaluation-lists > dl > dd.bar > div > button > span {
    font-size: .8rem;
    top: .1rem;
    margin-right: .3rem;
}

.footer {
    text-align: center;
    line-height: .8rem;
    background-color: #f8f8f8;
    font-size: .6rem;
}
.footer > .links {
    padding: .5rem;
}
.footer > .links > a {
    display: inline-block;
    padding: .3rem;
    color: #333;
}
.footer > .copyright {
    border-top: .05rem solid #e5e5e5;
    padding: 1rem 0;
}
.footer > .copyright > a {
    display: inline-block;
    color: #ccc;
}
.footer > .copyright > a > img {
    width: 3.65rem;
    height: 1.2rem;
}
.footer > .copyright > a > span {
    display: inline-block;
    margin-top: .3rem;
}

.settlement {
    padding: 0 .5rem;
    font-size: 0;
}
.settlement > a,
.settlement > span,
.settlement > button {
    display: inline-block;
    box-sizing: border-box;
    width: 3rem;
    height: 1.5rem;
    padding: .25rem 0;
    line-height: 1rem;
    vertical-align: top;
    border: 0 none;
    background: none;
    font-size: .7rem;
    color: #f60;
}
.settlement > span {
    width: 8.25rem;
    text-align: center;
    font-weight: bold;
}
.settlement > .btn {
    width: 3.75rem;
}
.settlement > .btn:disabled {
    background: #c9c9c9;
}
.settlement > .mark-wrap > span.checkmark {
    padding-left: 1.3rem;
}
.settlement > .mark-wrap > .checkmark {
    color: #f60;
}
.settlement > .mark-wrap > .deletemark {
    color: #ed5050;
}

.store-name-bar {
    padding: 0 .5rem;
    font-size: .6rem;
}
.store-name-bar.inside {
    padding: 0;
    margin: 0 .5rem;
}
.store-name-bar > a,
.store-name-bar > span {
    display: inline-block;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #333;
}
.store-name-bar > button {
    border: 0 none;
    background-color: transparent;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #00a0f8;
    padding: 0 0 0 .5rem;
}
.store-items {
    position: relative;
    margin-left: .5rem;
    padding-right: .5rem;
}
.store-items.inside {
    margin-right: .5rem;
    padding-right: 0;
}
.store-items:not(:last-child) {
    border-bottom: .05rem solid #eee;
}
.store-items > ul {
    position: relative;
    z-index: 2;
    padding: .4rem .5rem;
    margin: 0 -0.5rem;
    background: #fff;
}
.store-items.inside > ul {
    padding: .4rem 0;
    margin: 0;
}
.store-items > ul > .choose {
    width: 1.5rem;
}
.store-items > ul > .choose > button {
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    margin-left: -0.5rem;
}
.store-items > ul > .info {
    height: 3rem;
    padding-right: .2rem;
}
.store-items > ul > .info > a > img {
    width: 3rem;
    height: 3rem;
}
.store-items > ul > .info > h6,
.store-items > ul > .info > p {
    font-size: .6rem;
    margin-left: 3.4rem;
    line-height: .8rem;
}
.store-items > ul > .info > p {
    color: #ccc;
}
.store-items > ul > .edit {
    width: 4rem;
    height: 3rem;
    color: #515151;
    line-height: .8rem;
    font-size: .7rem;
    overflow: hidden;
}
.store-items > ul > .edit > p {
    text-align: right;
}
.store-items > ul > .edit > .number,
.store-items > ul > .edit > .error {
    margin-top: .15rem;
    font-size: .6rem;
    line-height: 1.1rem;
    font-weight: 200;
    color: #555;
}
.store-items > ul > .edit > .error {
    display: none;
    line-height: .8rem;
    color: #f60;
    font-weight: normal;
}
.store-items > ul > .edit > .number-range.small + .error {
    margin-top: 0;
}
.store-items > .del-item {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 3.8rem;
    height: 3.8rem;
    text-align: center;
    line-height: 3.8rem;
    font-size: .6rem;
    color: #fff;
    background: #f00;
}

.freight {
    margin: 0 .5rem;
    padding: .5rem 0;
}
.freight > p {
    line-height: 1rem;
    font-size: .6rem;
    color: #444;
}

.leave-message {
    margin: 0 .5rem;
    padding: .4rem 0;
    font-size: .6rem;
    color: #999;
    line-height: .8rem;
}
.leave-message.write {
    margin: 0 .5rem;
    padding: .4rem 0 0;
    line-height: 0;
}
.leave-message > textarea {
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    padding: .4rem;
    line-height: 1.1rem;
    font-size: .6rem;
    color: #333;
    border: .05rem solid #f2f2f2;
    resize: none;
    outline: none;
}

.total {
    padding: .5rem;
    line-height: .8rem;
    font-size: .7rem;
    color: #444;
}
.total > span > a {
    display: inline-block;
    min-width: 2.5rem;
    height: 1.4rem;
    box-sizing: border-box;
    margin-top: -0.3rem;
    margin-left: .15rem;
    padding: .2rem;
    font-size: .6rem;
    text-align: center;
    line-height: .9rem;
    vertical-align: middle;
}

.additional {
    padding: .5rem;
    line-height: 1.1rem;
    font-size: .7rem;
}
.additional > button {
    width: 15rem;
    padding: 0;
    font-size: .7rem;
    text-align: left;
    color: #444;
    border: 0 none;
}
.additional > button > span {
    color: #999;
}
.additional > p {
    padding-right: .7rem;
}

.other-items {
    margin: 0 .5rem;
    text-align: center;
    font-size: .6rem;
}
.other-items > a {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
}

.btn-wrap {
    margin: 1rem .5rem;
}
.btn-wrap > a,
.btn-wrap > button {
    display: inline-block;
    width: 15rem;
    box-sizing: content-box;
    padding: .55rem 0;
    font-size: .8rem;
    line-height: 1;
    color: #333;
}
.btn-wrap > button:not(:last-child) {
    margin-bottom: .5rem;
}
.btn-wrap > p {
    font-size: .6rem;
    text-align: center;
    line-height: 1.5rem;
}

.payable {
    padding: .5rem;
    text-align: center;
    font-size: .7rem;
    line-height: 1.1rem;
}

.top-tip-orders {
    padding: .75rem .5rem;
    background-color: #7b859b;
    color: #fff;
}
.top-tip-orders > span {
    width: 1rem;
    margin-right: .25rem;
    font-size: 1rem;
}
.top-tip-orders > div {
    font-size: .6rem;
    line-height: .8rem;
}
.top-tip-orders > div > h4 {
    font-size: .7rem;
}

.receive-info {
    padding: .5rem;
    line-height: 1.1rem;
    color: #444;
    font-size: .6rem;
}
.receive-info > span {
    width: 1rem;
    margin-right: .25rem;
    font-size: 1rem;
}
.receive-info > dl > dt {
    font-size: .7rem;
}
.receive-info > dl > dt > .pull-left {
    width: 7.5rem;
}
.receive-info > dl > dd {
    margin-top: .1rem;
}
.receive-info > button {
    width: 1.5rem;
    background-color: transparent;
    border: 0 none;
    font-size: .9rem;
    color: #e5e5e5;
}

.delivery-way {
    padding: .5rem;
}
.delivery-way > button {
    padding: .2rem;
    margin-right: .25rem;
    font-size: .7rem;
    line-height: .9rem;
}














.alertBg {
    max-width: 320px;
    padding: 1rem;
    position: fixed;
    font-size: 1rem;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -100px;
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    opacity: .7;
    color: #fff;
    z-index: 9999999999;
    text-align: center;
    line-height: 20px;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
#ajax_loader {
    color: #000;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    z-index: 999999999;
    display: none
}
.bodybg,
.dialog_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    top: 0;
    display: none;
    opacity: .9
}
.dialog_bg {
    background: rgba(51, 51, 51, 0.3)
}
.touch_ui_btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.touch_ui_btn.active {
    background-color: #ddd;
    color: #f60
}
.loadding {
    padding-top: 2.55rem;
    padding-bottom: 2.5rem;
    text-align: center
}
.loadding a {
    vertical-align: middle;
    display: inline-block
}
.loadding .glyphicon-more-icon,
.loadding .loadding-icon {
    font-size: 4rem;
    vertical-align: middle;
    color: #a9a9a9
}
.loadding .loadding-icon {
    display: none
}
.back_top_icon {
    width: 5.65rem;
    height: 5.65rem;
    display: inline-block;
    position: fixed;
    z-index: 999999999999;
    bottom: 0;
    right: 0;
    background: url(../images/back_top.png) no-repeat;
    background-size: 100% 100%
}
.alert_tips {
    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: .5rem;
    z-index: 99999999;
    text-align: center;
    line-height: 2rem;
    max-width: 20rem
}
.alert_tips span {
    display: block;
    color: #fff
}
.alert_tips .glyphicon {
    font-size: 1.2rem;
    border-radius: 1.2rem;
    border: 8px solid #00b72f;
    background: #00b72f;
    color: #fff;
    top: 0
}
.alert_tips .glyphicon-close-icon {
    background: #ff0024;
    border-color: #ff0024
}
.des_hide {
    position: absolute;
    text-indent: -9999px
}